<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>check box</title>
    <link rel="stylesheet" href="./CheckBox.css">
    <script src="https://kit.fontawesome.com/c47630de0b.js" crossorigin="anonymous"></script>
</head>
<body>
    <input type="checkbox" id="che">
    <label for="che"></label>
    <input type="checkbox" id="che2">
    <label for="che2"></label>
    <input type="checkbox" id="che3">
    <label for="che3"></label>
    <input type="checkbox" id="che4">
    <label for="che4"></label>
</body>
</html>