<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <title>리뷰 작성</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="review.css">
</head>
<body>

            <div id="review_div">
                <label>나의 별점 : <br/></label>
                <div class="starpoint_wrap">
                    <div class="starpoint_box">
                        <label for="starpoint_1" class="label_star" title="0.5"><span class="blind">0.5점</span></label>
                        <label for="starpoint_2" class="label_star" title="1"><span class="blind">1점</span></label>
                        <label for="starpoint_3" class="label_star" title="1.5"><span class="blind">1.5점</span></label>
                        <label for="starpoint_4" class="label_star" title="2"><span class="blind">2점</span></label>
                        <label for="starpoint_5" class="label_star" title="2.5"><span class="blind">2.5점</span></label>
                        <label for="starpoint_6" class="label_star" title="3"><span class="blind">3점</span></label>
                        <label for="starpoint_7" class="label_star" title="3.5"><span class="blind">3.5점</span></label>
                        <label for="starpoint_8" class="label_star" title="4"><span class="blind">4점</span></label>
                        <label for="starpoint_9" class="label_star" title="4.5"><span class="blind">4.5점</span></label>
                        <label for="starpoint_10" class="label_star" title="5"><span class="blind">5점</span></label>
                        <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">
                        <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">
                        <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">
                        <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">
                        <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">
                        <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">
                        <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">
                        <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">
                        <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">
                        <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">
                        <span class="starpoint_bg"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>리뷰 쓰기</label>
                    <textarea class="form-control" rows="5" id="review_textarea" placeholder="리뷰 작성 시 광고 및 욕설, 비속어나 타인을 비방하는 문구를 작성 시 리뷰가 삭제되거나, 비공개로 전환 될 수 있습니다."></textarea>
                </div>
                <button type="button" class="btn btn-info" id="review_write">
                    <span class="glyphicon glyphicon-ok"></span>작성
                </button>
            </div>
            <hr>
            <div id="reviews">
            </div>

</body>
</html>